
.wrapper {
    z-index: 99;
    position: absolute;
    left: calc(100% - 40px);
    top: 50px;
    width: var(--contact-more-popup-width);
    background: var(--clr-primary-80);
    border-radius: 8px;

    @media (max-width:60rem) {
        left: calc(100% - var(--contact-more-popup-width)) !important;
    }


    .option {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 12px 10px;
        border-radius: 8px;
        
        @media (hover:hover) {
            &:hover {
                background: var(--clr-primary-70);
            }
        }

        &.onlymobile {
            display: none;
            @media (max-width:60rem) {
                display: flex;
            }
        }
    }
}