

.wrapper {
    padding: 0;
    background: var(--clr-primary-100);
    color: var(--clr-textui-100);

    --border-clr: var(--clr-primary-60);
    --header-z-index: 2;
    --content-z-index: 1;

    display: grid;
    grid-template-areas: "mid";

    > * {
        grid-area: mid;
    }

}