

.wrapper {
    padding: 0;
    background: var(--clr-primary-100);
    color: var(--clr-textui-100);


    --section-height: 10.6vh;
    --section-height-min: 96px;
    --border-clr: var(--clr-primary-60);
    --left-right-padding: 25dvw;
    --grid-layout: var(--left-right-padding) calc(100dvw - (var(--left-right-padding) * 2)) var(--left-right-padding);
    --header-z-index: 2;
    --content-z-index: 1;

    display: grid;
    grid-template-areas: centr;

    > * {
        grid-area: centr;
    }

}