@import 'scss/_colors';
@import 'scss/_fontface';
@import 'scss/_layoutdefinition';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.textclr1 { 
    color: var(--clr-textui-100);
}

.textclr2 { 
    color: var(--clr-textui-56);
}

.textclr3 { 
    color: var(--clr-textui-32);
}




