@import 'scss/_colors';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html,body {
    // background: var(--clr-dark-primary-100);
    margin: 0;
    padding: 0;
    // color: var(--clr-dark-textui-100);
}




