@import 'scss/_colors';
@import 'scss/_fontface';
@import 'scss/_layoutdefinition';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

//-----------------------

::-moz-selection { /* Code for Firefox */
    color: rgb(0, 204, 255);
    text-shadow: 0 0 10px rgb(0, 204, 255);
    background: rgb(89, 0, 255)rgb(9, 5, 19);
    }
    
    ::selection {
    color: rgb(0, 204, 255);
    text-shadow: 0 0 10px rgb(0, 204, 255);
    background: rgb(89, 0, 255)rgb(9, 5, 19);
    }
    
    
    html { 
    scrollbar-color: hsl(197, 36%, 61%) #f1f1f1;
    scrollbar-width: thin;
    overflow-x: hidden;
    }
    
    ::-webkit-scrollbar {
    width: 0.4rem;
    }
    
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb {
    background: hsl(197, 36%, 61%) !important; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: hsl(197, 36%, 61%); 
    }

.textclr1 { 
    color: var(--clr-textui-100);
}

.textclr2 { 
    color: var(--clr-textui-56);
}

.textclr3 { 
    color: var(--clr-textui-32);
}




