
.wrapper {
    --padding-side-buttons: 1rem;

    z-index: var(--header-z-index);
    height: var(--header-height);
    width: var(--header-width);
    display: grid;
    grid-template-columns: var(--header-columns);
    grid-template-rows: var(--header-rows);
    grid-template-areas: var(--header-layout);

    > * {
        border-top: 1px solid var(--border-clr);
        border-bottom: 1px solid var(--border-clr);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline: var(--padding-side-buttons);
    }

    .backbtn {
        grid-area: backbtn;
        justify-content: end;
    }

    .headertext {
        grid-area: headertext;
        justify-content: var(--header-text-justify);
    }

    .submenu {
        grid-area: submenu;
        display: flex;
        justify-content: var(--header-submenu-justify);
        gap: var(--header-submenu-gap);

        @media (max-width:60rem) {
            .additem {
                padding-left: var(--padding-side-buttons);
                order: 1;
            }
            .settings {
                order:2;
            }
            .accountimg {
                order: 0;
            }
        }

    }

    .lightdark {
        grid-area: lightdark;
        justify-content: start;
    }


}