
// TEXT COLOR IS DEFINED IN GLOBAL.SCSS

.Headline1 {
    font-family: Glysa, serif;
    font-size: 32px;
    line-height: 1.5;
    font-weight: 500;
    font-style: normal;
}

.Headline2 {
    font-family: Glysa, serif;
    font-size: 24px;
    line-height: 1.66667;
    font-weight: 500;
    font-style: normal;
}

.Headline3 {
    font-family: LexendDeca, serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-style: normal;
}

.Body4 {
    font-family: LexendDeca, serif;
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: .01em;
    font-weight: 400;
    font-style: normal;
}

.Body5 {
    font-family: LexendDeca, serif;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: .01em;
    font-weight: 400;
    font-style: normal;
}